# Compilados de C/C++
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.lib
*.a
*.lo
*.la
*.ilk
*.pdb

# Archivos de depuración
*.idb
*.DS_Store

# VS Code
.vscode/

# Archivos temporales
Thumbs.db
Desktop.ini

# Logs
*.log

# Otros temporales
*.tmp
*.temp
# Ignorar entorno virtual de Python
venv/
.venv/

# Archivos de Python que no importan
__pycache__/
*.pyc

# Archivos temporales de VSCode
.vscode/

# Archivos de Windows
Thumbs.db
desktop.ini